.flexContainer {
  display: flex;
  .flexChild {
    width: 33.3%;
    font-size: 1.5rem;
    &:nth-of-type(2) {
      font-size: 1rem;
    }
    .icon {
      font-size: 3rem;
      margin-left: 1rem;
    }
    .temperature {
      display: inline-block;
      font-size: 2.5rem;
      padding: 0 20px;
      line-height: 2.5rem;
      overflow: hidden;
      p {
        transform: scale(1.2);
        margin: 0rem;
      }
    }
    .fieldName {
      float: left;
      width: 70%;
    }
    .fieldValue {
      text-align: center;
      float: center;
      width: 10%;
      white-space: nowrap;
    }
  }
}
